.App {
  text-align: center;

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: none;
    width: 100%;
    justify-content: center;

    .topbar {
      background: #142d4c;
      position: sticky;
      top: 0;
      width: 100%;
    }
  }
}


