body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #142d4c;
  color: #ececec;
  font-size: calc(10px + 2vmin);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  /* background-color: #baadd3; */
  background-color: #9fd3c7;
  /* box-shadow: 0px 0px 1px 2px #0ff; */
  box-shadow: 0px 0px 1px 2px #385170;
  display: flex-inline;
  font-weight: bold;
  font-size: large;
  justify-content: space-between;
  margin: 4px;
}

button:hover {
  background-color: #ffffff;
  color: #671199;
  font-weight: bold;
}

/* Define the animation */
@keyframes tada {
  0% {
    transform: scale(1);
  }

  25%,
  75% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}