.spinner {
  box-sizing: border-box;
  animation: spin 0.9s linear infinite;
  border: 4px solid var(--spinner-track);
  border-top-color: var(--spinner-head);
  border-radius: 50%;
  display: inline-block;
  height: 28px;
  width: 28px;
  margin-left: var(--space-2);
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
